# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Env files
.env

# Logs
*.log

# SQLite DB (if any)
*.db

# Docker
# *.dockerignore
# Dockerfile
# docker-compose.override.yml

# Pytest cache
.pytest_cache/
